<h1>WordSmith Words</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!words"><em>Loading...</em></p>

<table class="table" *ngIf="words">
    <thead>
        <tr>
            <th><P>ID</th>
            <th>WordSmithThemeID</th>
            <th>DailyWord</th>
            <th>Pronunciation</th>
            <th>Meaning</th>
            <th>Etymology</th>
            <th>Usage</th>
            <th>Thought A Day</th>
            <th>Notes</th>
            <th>Input Date</th>
            <th>Update Date</th>
            <th>Reviewed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let word of words">
            <td>{{ word.ID }}</td>
            <td>{{ word.WordSmithThemeID }}</td>
            <td>{{ word.DailyWord }}</td>
            <td>{{ word.Pronunciation }}</td>
            <td>{{ word.Meaning | truncate : 20 }}</td>
            <td>{{ word.Etymology | truncate : 20 }}</td>
            <td>{{ word.Usage | truncate : 20 }}</td>
            <td>{{ word.ThoughtADay | truncate : 20 }}</td>
            <td>{{ word.Notes | truncate : 20 }}</td>
            <td>{{ word.InputDate }}</td>
            <td>{{ word.UpdateDate }}</td>
            <td>{{ word.Reviewed }}</td>
        </tr>
    </tbody>
</table>
